@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#contact{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;
}
[href="#logo"]{
    font-size: 50px;
    position: relative;
    top: -10px;
    text-decoration: none;
    font-weight: bold;
    animation-name: logoa;
    animation-duration: 3s;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes logoa {
    0%{
        color: #68B984;
    }
    60%{
        color: #E14D2A;
    }
    75%{
        color: #E97777;
    }
    100%{
        color: #4E6C50;
    }
}

[href="#logo"] span{
    font-size: 25px;
    color: #FD841F;
    text-decoration: none;
    font-family:Comic Sans MS;
    animation-name: logospan;
    animation-duration: 4s;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes logospan {
    0%{
        color: #3D5656;
    }
    60%{
        color: #FED049;
    }
    75%{
        color: #BCEAD5;
    }
    100%{
        color: #82CD47;
    }
}

.menu{
    padding-top: 20px;
}
.menu a{
    text-decoration: none;
    padding-left: 45px;
    font-size: large;
    font-family: Comic Sans MS;
    color: #1B2430;
}
.menu a:hover{
    font-size: 20px;
    color: #439A97;
}
.fin{
    width: 1200px;
    height: 1px;
    background-color: black;
    margin-top: 5px;
    animation-name: finheader;
    animation-duration: 2s;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes finheader{
    from{
        transform: translatex(20px);
    }
    to{
        transform: translatex(100px);
    }
}

h1,h3{
    text-align: center;
}
h3{
    color: #FF5B00;
}
h1{
    color: #990000;
    font-size: 50px;
    margin-top: 30px;
}
form{
    margin-left: 275px;
    margin-top: 30px;
}
[placeholder]{
    width: 400px;
    border: none;
    border-bottom: 2px solid #3D5656;
    padding: 0 10px;
    outline: none;
}
.pos{
    margin-right: 30px;
    margin-top: 40px;
}
[placeholder="Message"]{
    height: 20px;
    border: none;
    border-bottom: 2px solid #3D5656;
    margin-top: 30px;
    margin-left: 250px;
    outline: none;
}
hr{
    width: 1100px;
    margin-top: 20px;
    margin-left: 140px;
}
.maclass{
    margin-top:27px;
    margin-left:520px ;
}
[value]{
    width: 150px;
    height: 31px;
    background-color: #E97777;
    color: #fff;
    margin-right:20px ;
    border: none;
    outline: none;
    animation-name: input;
    animation-duration: 4s;
    animation-fill-mode: none;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes input {
    0%{
        background-color: #68B984;
    }
    60%{
        background-color: #E14D2A;
    }
    75%{
        background-color: #E97777;
    }
    100%{
        background-color: #4fa8b4;
    }
}
footer{
    width: 100%;
    height: 40px;
    background-color: #850202;
    margin-top: 117px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
footer p{
    font-size: small;
    color: #fff;
}
